.contactForm {
  /* max-width: 450px; */
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
}

.contactForm input {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 250px;
}

.submitBtn {
  width: 100px;
  height: 30px;
  background-color: rgb(170, 159, 179);
  border: 0;
  border-radius: 5px;
  color: azure;
}

.submitBtn:active {
  background-color: rgb(200, 154, 244);
  border: 0;
}
